/* =============== styles for location section =============== */
div.mainContainer {
    section#location {
        width: 100%;
        height: 500px;

        div#googleMaps {
            width: 100%;
            height: 500px;
        }
    }
}